// Variables
$background_color: #000000;
$load_button_color: #ffffff;
$gray-bg: #141414;
$lighter-gray-bg: #686868;
$margin_centered: calc(0.5vw + 0.5vh) 5vw calc(0.5vw + 0.5vh) 5vw;
$rounded: 1vh;

// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

// HTML
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: $background_color;
}

// App
.navigation {
    width: 100%;
    border-bottom: 5px solid $lighter-gray-bg;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__container {
        width: 80%;
        padding: 2%;
        background-color: $background_color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: $load_button_color;

        &__link {
            text-decoration: none;
        }
        
        &__logo {
            color: $load_button_color;
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $gray-bg;
    border-top: 5px solid $gray-bg;

    &__text {
        font-size: 1rem;
    }

    &__link {
        color: $lighter-gray-bg;
        text-decoration: none;
        font-size: 1rem;
    }
}

.splash {
    position: absolute;
    top: 0px;
    z-index: 999;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    width: 100vw;
    height: 100%; // 100% displays correctly on chrome mobile. 100vh counts in the address bar.
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        color: $load_button_color;
        width: 80wv;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__logo {
            width: 50%;
            z-index: 999;
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 2vh;
        }

        &__button {
            font-family: 'Poppins', sans-serif;
            color: white;
            transition: filter 0.2s ease-in-out;
            width: 40vw;
            @media (orientation: portrait) {
                width: 80vw;
            }
            font-size: 1rem;
            @media (orientation: portrait) {
                font-size: calc(1vw + 1vh);
            }
            border-radius: $rounded;
            background-color: rgba(255,255,255,0);
            font-weight: bold;
            border: 5px solid $load_button_color;
            padding: calc(0.5vh + 0.5vw);
            cursor: pointer;
        }

        &__button > a {
            text-decoration: none;
            color: white;
        }

        &__button:hover {
            filter: drop-shadow(0px 0px 20px rgba(255,255,255,1));
        }
    }
}

.player {
    z-index: 999;
    background-color: $background_color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__loading {
        animation: rotate 1s infinite ease-in-out;
        width: 10vh;
        height: 10vh;

        &__img {
            width: 10vh;
            height: 10vh;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin: 1%;
        color: $lighter-gray-bg;
    }
}

.home {
    z-index: 999;
    background-color: $background_color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__loading {
        animation: rotate 1s infinite ease-in-out;
        width: 10vh;
        height: 10vh;

        &__img {
            width: 10vh;
            height: 10vh;
        }
    }

    &__container {
        width: 80%;
        margin: 2%;
        padding: 5%;
        background-color: $gray-bg;
        border-radius: $rounded;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__container > h1 {
        color: $lighter-gray-bg;
        padding-bottom: 5%;
    }

    &__entity {
        margin: 1%;
        padding: 2%;
        background-color: $background_color;
        border-radius: $rounded;

        &__link {
            text-decoration: none;
        }

        &__visual {
            height: 18vh; // aspect ratio 16:9
            width: 32vh; // aspect ratio 16:9
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
            border-radius: $rounded;
        }

        &__visual > p {
            padding: 2%;
            color: white;
            font-size: 0.6rem;
        }

        &__text {
            color: $lighter-gray-bg;
        }
    }
}

.notFound {
    position: absolute;
    top: 0px;
    z-index: 999;
    background-color: $background_color;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        position: absolute;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &__h1 {
            color: $load_button_color;
            font-weight: 900;
            font-size: 12rem;
            @media (orientation: portrait) {
                font-size: calc(7vw + 7vh);
            }
            margin: 0px;
            padding: 0px;
        }
    
        &__h2 {
            color: $load_button_color;
            font-weight: bold;
            font-size: 2rem;
            @media (orientation: portrait) {
                font-size: calc(1vw + 1vh);
            }
            padding-bottom: calc(1vh + 1vw);
        }
    
        &__button {
            font-family: 'Poppins', sans-serif;
            color: white;
            transition: filter 0.2s ease-in-out;
            width: 40vw;
            @media (orientation: portrait) {
                width: 80vw;
            }
            font-size: 1rem;
            @media (orientation: portrait) {
                font-size: calc(1vw + 1vh);
            }
            border-radius: $rounded;
            background-color: rgba(255,255,255,0);
            font-weight: bold;
            border: 5px solid $load_button_color;
            padding: calc(0.5vh + 0.5vw);
            cursor: pointer;
        }

        &__button:hover {
            filter: drop-shadow(0px 0px 20px rgba(255,255,255,1));
        }

    }

}

// Animation
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
